/*Footer.css*/
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.5em;
}
/*Main.css*/
.wrapper {
  position: relative;
  background-color: white;
  padding: 4% 10%;
  margin: auto;
  width: 80%;
  text-align: justify;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
#html {
  background-image: url(html5.svg);
}
#css {
  background-image: url(css3.svg);
}
#js {
  background-image: url(javascript.png);
}
#meteor {
  background-image: url(meteor-text.svg);
}
#mongo {
  background-image: url(mongo.svg);
}
#graphql {
  background-image: url(graphql.svg);
}
#node {
  background-image: url(node.svg);
}
#react {
  background-image: url(react.svg);
}
#chess {
  background-image: url(chess.png);
}
#tictactoe {
  background-image: url(tictactoe.png);
}
#snake {
  background-image: url(snake.png);
}
.large:hover {
  width: 25vw;
  height: 25vw;
}

.small:hover {
  width: 12vw;
  height: 12vw;
}
.tile {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.large {
  width: 20vw;
  height: 20vw;
}
.icon-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.top-margin,
h1,
h2,
h3 {
  margin-top: 5%;
}
.small {
  width: 10vw;
  height: 10vw;
}
/*App.css*/
