body,
html {
  height: 100%;
}
ul {
  list-style-type: none;
}
.fixedMenu {
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  width: 100%;
  height: 10vh;
  justify-content: space-around;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  height: 100vh;
  padding-bottom: 20vh;
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#plant-background {
  background-image: url(img.jpg);
}
.container {
  background-color: white;
  position: absolute;
  left: 0;
  top: 45%;
  margin: 0%;
  width: 100%;
  text-align: center;
  color: #000;
  z-index: 1;
}

.opacity {
  opacity: 1 !important;
}

.caption {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
